* {
    text-align: center;
    font-family: serif;
    padding: 0;
    color: #aeb0b2;
    background-color: #585a5c;
    font-size: 25px;
}

h1 {
    font-size: 50px
}

h2 {
    font-size: 30px;
}

p {
    font-size: 25px;
}

button {

    background-color: rgb(60, 63, 64);
    display: inline-block;
    text-decoration: none;
    border: 2px solid #2b2b2b;
    border-radius: 5px;
    width: 500px;
}

button:hover {
    background-color: rgb(49, 51, 53);
    cursor: pointer;
}

.outer {
    display: flex;
    justify-content: center;

}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 80%;
}